/*-----------------------------------------------*/
/*---------Base color-------------------*/

/*
color: #e67e22;
color: #ec3642;

*/

/*-----------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;

}

/*-----------------------------------------------*/
/*---------REUSABLE COMPONENTS-------------------*/
/*-----------------------------------------------*/

section {
    padding: 40px 0;
}

.long-copy {
    line-height: 145%;
    width: 75%;
    margin-left: 15%;
    text-align: justify;
    font-size: 100%;
    font-weight: 300;
}

.short-copy {

    line-height: 145%;
    font-size: 90%;
    display: block;
    text-align: justify;
    font-weight: 300;

}

.heading-h1 {
    color: #e67e22;
    /*color: #ec3642;*/
    font-size: 300%;
    word-spacing: 5px;
    margin-top: 0;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: 400;
    text-align: center;

}

.heading-h2 {
    text-align: center;
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 180%;
    margin-bottom: 30px;


}

.heading-h3 {

    font-size: 110%;
    margin-bottom: 15px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;

}
.heading-h6 {
    font-size: 80%;
    margin-top: 15px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;

}

.heading-h2::after {

    display: block;
    height: 2px;
    background-color: #e67e22;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;

}

.icon-big {
    font-size: 350%;
    color: #e67e22;
    display: inline-block;
    padding-left: 100px;
    margin-bottom: 10px;
}
/*-----------------------------------------------*/
/*----------------------HEADER-------------------*/
/*-----------------------------------------------*/
.beast-text-box {
    position: absolute;
    width: 1140px;
    height: 200px;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}

.btn-full:link,
.btn-full:visited {
    text-decoration: none;
    color: white;
    margin-right: 10px;
    display: inline-block;
    border: 2px solid #e67e22;
    border-radius: 80px;
    font-size: 120%;
    padding: 10px;
    font-weight: 200;
    transition: .4s;

}

.btn-full:hover,
.btn-full:active {
    background-color: #e67e22;
}

.main-navi {
    background-color: rgba(5, 0, 0, 0.77);
}

.nav-brand-custom {
    color: #e67e22;
    font-weight: 500;
}

.main-navi ul li a:link span,
.main-navi ul li a:visited span {
    color: rgb(221, 221, 221);
    font-size: 80%;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: .5s;
    padding: 8px 0;
}

.main-navi ul li a:hover span,
.main-navi ul li a:active span {

    border-bottom: 2px solid #e67e22;

}

/*-----------------------------------------------*/
/*----------------------FEATURES-------------------*/
/*-----------------------------------------------*/

.section-features {
    /*background-color: #f4f4f4;*/
}

/*-----------------------------------------------*/
/*----------------------CLASSES-------------------*/
/*-----------------------------------------------*/

.section-classes {
    /*background-color: #f4f4f4;*/

}

.card-title-custom {
    font-size: 110%;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #e67e22;
    text-align: center;
}

.instructor {
    text-align: center;
}

.instructor .icon-person {
    margin-right: 20px;
    font-size: 100%;
    /*color: #e67e22;*/
    color: #25292b;
    display: inline-block;

}

.instructor span {
    vertical-align: 1px;
    font-size: 80%;
}

.list-of-social-icons {
    text-align: center;
}

.list-of-social-icons a:link,
.list-of-social-icons a:visited {
    color: #000;
}

.social-i-fb,
.social-i-tw,
.social-i-gp {
    font-size: 130%;
    margin-right: 20px;
}

.social-i-ig {
    font-size: 130%;
}

.social-i-fb:hover,
.social-i-fb:active {
    color: #3b5999;
}

.social-i-tw:hover,
.social-i-tw:active {
    color: #55acee;
}

.social-i-gp:hover,
.social-i-gp:active {
    color: #dd4b39;
}

.social-i-ig:hover,
.social-i-ig:active {
    color: #e4405f;
}

.box-class {
    margin-bottom: 30px;

}

.r-more:link,
.r-more:visited {
    text-align: center;
    text-decoration: none;
    display: block;
    text-transform: uppercase;

}

.r-more span {
    position: relative;
    top: 10px;
    color: #fff;
    border: 1px solid #e67e22;
    border-radius: 5px;
    font-weight: 300;
    padding: 5px;
    font-size: 80%;
    background-color: #e67e22;
    transition: .4s;
}

.r-more:hover span,
.r-more:active span {
    background-color: #c56d17;


}

/*-----------------------------------------------*/
/*----------------------TRAINERS-------------------*/
/*-----------------------------------------------*/

.section-trainers {
    /*background-color: rgb(23, 23, 23);*/
    /*background-color: #25292b;*/
    /*background-color: #f4f4f4;*/

}


.trainer-bio {
    font-weight: 300;
    font-size: 90%;
    display: block;
    text-align: center;
}

/*-----------------------------------------------*/
/*----------------------GYM AT A GLANCE-------------------*/
/*-----------------------------------------------*/

.section-gym-vedio{
    /*background-color: #f4f4f4;*/
}

video {

    width: 100%;
    height: 100%;
}

/*-----------------------------------------------*/
/*----------------------NEWS-------------------*/
/*-----------------------------------------------*/

.blog-short-desc {
    font-weight: 300;
    font-size: 90%;
    display: block;
    text-align: justify;
    margin-bottom: 0px;
}

.post-date {
    text-align: center;
    display: block;
    color: #e67e22;
}

.blog-title {
    display: block;
    text-align: center;
}

.box-news {
    margin-bottom: 20px;
}
